html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'SegoeUI-Semibold';
  }
  p, span, a {
    font-family: 'segoe_regular';
  }
  img {
    max-width: 100%;
  }
  @font-face {
    font-family: 'segoe_regular';
    src: url('fonts/segoe_regular.eot');
    src: local('☺'), url('fonts/segoe_regular.woff') format('woff'), 
    url('fonts/segoe_regular.ttf') format('truetype'), 
    url('fonts/segoe_regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SegoeUI-Semibold';
    src: url('fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/SegoeUI-Semibold.woff') format('woff'),
         url('fonts/SegoeUI-Semibold.ttf')  format('truetype'),
         url('fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SegoeUI-Bold';
    src: url('fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/SegoeUI-Bold.woff') format('woff'),
         url('fonts/SegoeUI-Bold.ttf')  format('truetype'),
         url('fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'SegoeUI-Semibold', sans-serif;
  }
  #banner-container {
      height: 600px;
      width: 160px;
      background: url("assets/background-color.png") no-repeat, top center;
  }
  .laptop {
    margin-top:75px;
    margin-bottom:45px;
  }
  .ad-text {
    position: relative;
    /* top: 10px; */
  }
  .ad-text p {
    font-size:16px;
    font-size: 17px;
    line-height: 1.2;
    padding-top: 26px;
    
  }
  .see-details {
      font-size:12px;
      display: block;
      margin-top:20px;
  }
  .banner-top {
      padding: 15px 20px 0 15px;
      color: #fff;
      height: 300px;
      
  }
  .intel-contoso-logo {
      margin-top:35px;
  }

  .banner-button {
    background: #000;
  }
  .upgrade-cta {
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #ffffff;
      
      display: block;
      text-decoration: none;
      font-size: 14px;
      font-family: 'SegoeUI-Semibold', sans-serif;
  }
  .ad-text {
      /*margin-top: 35px;*/
  }

  .ad-logo {
    margin-top: 22px;
    /* opacity: 0; */
  }

  .contoso-logo {
    display: block;
    margin-top: 15px;
  }

  .op_animate {
    /* opacity: 0; */
  }

  h2.ad_text-2 {
    font-size: 17px;
    line-height: 1.2;
    
  }
  h2.ad_text-1 {
    font-size: 17px;
    line-height: 1.2;
    padding-top: 14px;
  }