html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
  }

  body * {
    box-sizing: border-box;
  }
  p {
    margin: 0;
  }
  img {
    max-width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'SegoeUI-Semibold';
}
p, span, a {
    font-family: 'segoe_regular';
}
@font-face {
    font-family: 'segoe_regular';
    src: url('fonts/segoe_regular.eot');
    src: local('☺'), url('fonts/segoe_regular.woff') format('woff'), 
    url('fonts/segoe_regular.ttf') format('truetype'), 
    url('fonts/segoe_regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: 'SegoeUI-Semibold';
    src: url('fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/SegoeUI-Semibold.woff') format('woff'),
         url('fonts/SegoeUI-Semibold.ttf')  format('truetype'),
         url('fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SegoeUI-Bold';
    src: url('fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/SegoeUI-Bold.woff') format('woff'),
         url('fonts/SegoeUI-Bold.ttf')  format('truetype'),
         url('fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'SegoeUI-Semibold', sans-serif;
  }
  #banner-container {
      height: 600px;
      width: 160px;
      position: relative;
      padding: 15px;
      background: url("assets/background.png") no-repeat, top center;
  }
  .laptop {
    margin-top:49px;
    margin-bottom:45px;
  }
  .ad-text {
    position: relative;
    /* top: 10px; */
  }
  .ad-text p {
    font-size:18px;
    line-height: 1.22;
    /* padding-top: 55px; */
    font-family: 'SegoeUI-Semibold';    
  }
  .see-details {
      font-size:10px;
      display: block;
      margin-top:5px;
  }
  .banner-top {
      /* padding: 0 20px 0 15px; */
      color: #fff;
      height: 300px;
      
      
  }
  .intel-contoso-logo {
      margin-top:35px;
  }
  .upgrade-cta {
      /* height: 60px; */
      line-height: 60px;
      text-align: center;
      color: #ffffff;
      /* background: #000; */
      display: block;
      text-decoration: none;
      font-size: 14px;
      font-family: 'SegoeUI-Semibold', sans-serif;
  }
  .ad-text {
      /*margin-top: 35px;*/
  }

  .banner-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    left: 0;
    background: #000000;
  }

  .ad-logo {
    margin-top: 35px;
    /* display: none; */
    width: 68px;
  }

  .op_animate {
    /* opacity: 0; */
  }

  .ad-logo-details {
    font-size: 10px;
    color: #FFFFFF;
    /* text-align: center; */
  }

  .contoso-logo {
    margin-top: 30px;
  }